@{
    ViewData["Title"] = "Dashboard Admin";
}

<div class="container mt-4">
    <h2>Dashboard Admin</h2>

    <div class="alert alert-success">
        Bạn đã truy cập thành công vào phân hệ Administrator.
    </div>

    <p>Đây là trang quản trị cơ bản dùng để test phân quyền Admin.</p>

    <div class="mt-4">
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-primary me-2">
            Quản lý danh mục
        </a>

        <a asp-area="Admin" asp-controller="Areas" asp-action="Index" class="btn btn-success me-2">
            Quản lý khu vực
        </a>
        <a asp-area="Admin"
             asp-controller="Posts"
            asp-action="Index"
            class="btn btn-primary">
             Quản lý tin đăng
</a>
    </div>
</div>